@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Raleway:wght@500&display=swap');

* {
  margin: 0;
}

.about-container {
  max-width: 550px;
  margin: 128px auto 0 auto;
  height: 100vh;
}

.about-container p {
  font-family: 'Inter Tight', sans-serif;
  font-size: 22px;
  color: #948e8e;
  line-height: 1.8;
  margin-bottom: 15px;
}

.link-icons {
  display: flex;
  justify-content: center;
}

.fa-brands {
  padding: .5em .25em 0em .25em;
  color: #b8abab;
}

.fa-square-github:hover {
  color: yellow
}

.fa-linkedin:hover {
  color: #5861cc
}

#notes {
  height: 100vh;
}

#projects {
  height: 40vh;
  color: #f1f1f1;
  background-color: #635255;
  display: flex;
  justify-content: center;
}

.projects-container {
  display: flex;
  align-items: center;
}

/* .projects-container a {
  color: #f1f1f1;
  font-size: 32px;
  text-decoration: none;
}

.projects-container a:hover {
  color: #C0E8F9;
} */

.projects-button {
  background-color: #635255;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  color: #f1f1f1;
  display: inline-block;
  font-family: Eps-Avenir, Avenir, Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.44;
  margin: 0;
  padding: 6px 28px 7px;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

.projects-button:hover {
  color: #635255;
  background-color: #f1f1f1;
}