@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Raleway:wght@500&display=swap');

* {
  margin: 0;
}

.about-container {
  max-width: 550px;
  margin: 128px auto 0 auto;
  height: 100vh;
}

.about-container p {
  font-family: 'Inter Tight', sans-serif;
  font-size: 22px;
  color: #948e8e;
  line-height: 1.8;
  margin-bottom: 15px;
}

.link-icons {
  display: flex;
  justify-content: center;
}

.fa-brands {
  padding: .5em .25em 0em .25em;
  color: #b8abab;
}

.fa-square-github:hover {
  color: yellow
}

.fa-linkedin:hover {
  color: #5861cc
}

#notes {
  height: 100vh;
}

#projects {
  height: 100vh;
  color: #f1f1f1;
  background-color: #b8abab;
  display: flex;
  justify-content: center;
}

#notes {
  height: 100vh;
  color: #948e8e;
  display: flex;
  justify-content: center;
}

.projects-container p,
.notes-container p {
  font-family: 'Raleway', sans-serif;
  font-size: 76px;
}