@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$black: #151414;
$cyan-bluish-gray: #abb8c3;
$white: #fcf5f5;
$pale-pink: #f78da7;
$vivid-red: #cf2e2e;
$luminous-vivid-orange: #ff6900;
$luminous-vivid-amber: #fcb900;
$light-green-cyan: #7bdcb5;
$vivid-green-cyan: #00d084;
$pale-cyan-blue: #8ed1fc;
$vivid-cyan-blue: #0693e3;
$vivid-purple: #9b51e0;

:root {
  --text-color: #cf2e2e;
}

body {
  margin: 0;
  background-color: lighten($luminous-vivid-amber, 25%);
  color: var(--text-color);
}

.quote-block {
  display: flex;
  flex-direction: row;
  padding: 8% 10% 8% 10%;
  min-height: 60vh;
}

.source {
  width: 60%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.source p {}

@mixin quote-text {
  width: 40%;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  display: flex;
  line-height: 1.4;
}

.quote {
  @include quote-text;
  flex-direction: column;
}

.quote-middlemarch {
  @include quote-text;
  align-items: center;
}

.quote p {
  border-width: 2px 0 0 0;
  border-color: --text-color;
  border-style: solid;
  padding: 40px 0px 40px 0px;
  margin: 0;
}